.pattern-square-animated {
    --s: 100px; /* control the size */
    --c1: #C3CCAF;
    --c2: #67434F;
    
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: var(--_s) conic-gradient(at 40% 40%,#0000 75%,var(--c1) 0);
    --_p: var(--_s) conic-gradient(at 20% 20%,#0000 75%,var(--c2) 0);
    background:
      calc( .9*var(--s)) calc( .9*var(--s))/var(--_p),
      calc(-.1*var(--s)) calc(-.1*var(--s))/var(--_p),
      calc( .7*var(--s)) calc( .7*var(--s))/var(--_g),
      calc(-.3*var(--s)) calc(-.3*var(--s))/var(--_g),
      conic-gradient(from 90deg at 20% 20%,var(--c2) 25%,var(--c1) 0) 
       0 0/var(--s) var(--s);
  }
  @keyframes g6 {
    0% {
     background-position: 
      calc( .9*var(--s)) calc( .9*var(--s)),
      calc(-.1*var(--s)) calc(-.1*var(--s)),
      calc( .7*var(--s)) calc( .7*var(--s)),
      calc(-.3*var(--s)) calc(-.3*var(--s)),0 0
    }
    25% {
     background-position: 
      calc(1.9*var(--s)) calc( .9*var(--s)),
      calc(-1.1*var(--s)) calc(-.1*var(--s)),
      calc(1.7*var(--s)) calc( .7*var(--s)),
      calc(-1.3*var(--s)) calc(-.3*var(--s)),0 0
    }
    50% {
     background-position: 
      calc(1.9*var(--s)) calc(-.1*var(--s)),
      calc(-1.1*var(--s)) calc( .9*var(--s)),
      calc(1.7*var(--s)) calc(-.3*var(--s)),
      calc(-1.3*var(--s)) calc( .7*var(--s)),0 0
    }
    75% {
     background-position: 
      calc(2.9*var(--s)) calc(-.1*var(--s)),
      calc(-2.1*var(--s)) calc( .9*var(--s)),
      calc(2.7*var(--s)) calc(-.3*var(--s)),
      calc(-2.3*var(--s)) calc( .7*var(--s)),0 0
    }
    100% {
     background-position: 
      calc(2.9*var(--s)) calc(-1.1*var(--s)),
      calc(-2.1*var(--s)) calc(1.9*var(--s)),
      calc(2.7*var(--s)) calc(-1.3*var(--s)),
      calc(-2.3*var(--s)) calc(1.7*var(--s)),0 0
    }
  }
  


  .pattern-square-rectangle-animated {
  --s: 170px; /* control the size */
  --c1: #C3CCAF;
  --c2: #67434F;
  
  --_c: #0000 75%,var(--c1) 0; /* color 1 */
  --_g1: conic-gradient(at 20.71% 50%,var(--_c));
  --_g2: conic-gradient(at 50% 20.71%,var(--_c));
  background:
    var(--_g1) calc(var(--s)/ 6.828) calc(var(--s)/2),var(--_g1) calc(var(--s)/-2.828) 0,
    conic-gradient(from   45deg at 29.29% 29.29%,var(--_c)) calc(var(--s)/-6.828) 0,
    var(--_g2) calc(var(--s)/2) calc(var(--s)/-2.828),var(--_g2) 0 calc(var(--s)/ 6.828),
    conic-gradient(from -135deg at 29.29% 70.71%,var(--_c)) calc(var(--s)/-6.828) 0,
    var(--c2) ;
  background-size: var(--s) var(--s), var(--s) var(--s), calc(var(--s)/2) calc(var(--s)/2);
}
@keyframes g12 {
  to {
    background-position: 
     calc(var(--s)/ 6.828) calc(var(--s)/-2),
     calc(var(--s)/-2.828) calc(var(--s)/-1),
     calc(var(--s)/-6.828) 0,
     calc(var(--s)/-2) calc(var(--s)/-2.828),
     calc(var(--s)/-1) calc(var(--s)/ 6.828),
     calc(var(--s)/-6.828) 0;
  }
}




/* 
Square Rotate Animated
*/

.pattern-square-sliding-animated {
    --s: 80px; /* control the size */
    --c1:#6B5344 ;
    --c2:#6B5344 ;
    --g:conic-gradient(at 50% 25%,#0000 75%,var(--c1) 0);
    background:
      repeating-linear-gradient(#0000 0 48%,var(--c1) 0 50%),var(--g),
      conic-gradient(#0000 75%,var(--c1) 0) calc(var(--s)/4) calc(var(--s)/2),
      var(--g) calc(var(--s)/2) var(--s) var(--c2);
    background-size: var(--s) var(--s),var(--s) calc(2*var(--s));
  }
  @keyframes g16 {
    to {
      background-position: 
        0 0,
        var(--s) 0,
        calc(var(--s)/4) calc(var(--s)/2),
        calc(var(--s)/-2) var(--s);
    }
  }
  

  .pattern-arrow-sliding-animated {
  --s: 56px; /* control the size */
  --g: 10px; /* control the gap */
  --c1: #5E412F;
  --c2: #FCEBB6;
  --_l: #0000 calc(33% - .866*var(--g)),var(--c1) calc(33.2% - .866*var(--g)) 33%,#0000 34%;
  background:
    repeating-linear-gradient(var(--c1) 0 var(--g), #0000 0 50%)
     0 calc(.866*var(--s) - var(--g)/2),
    conic-gradient(from -150deg at var(--g) 50%,var(--c1) 120deg,#0000 0),
    linear-gradient(-120deg,var(--_l)),linear-gradient( -60deg,var(--_l))
    var(--c2); /* second color */
  background-size: var(--s) calc(3.466*var(--s));
}
.pattern-arrow-sliding-animated:before {
    --animation-name: none;
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-mask: 
    linear-gradient(#000 50%,#0000 0) 
    0 calc(.866*var(--s))/100% calc(3.466*var(--s));
    animation-direction: reverse;
    background:
    repeating-linear-gradient(var(--c1) 0 var(--g), #0000 0 50%)
     0 calc(.866*var(--s) - var(--g)/2),
    conic-gradient(from -150deg at var(--g) 50%,var(--c1) 120deg,#0000 0),
    linear-gradient(-120deg,var(--_l)),linear-gradient( -60deg,var(--_l))
    var(--c2); /* second color */
    background-size: var(--s) calc(3.466*var(--s));
    animation: var(--animation-name) ;
    animation-direction: reverse;


}
@keyframes g2{
  to {background-position-x: calc(-1*var(--s));}
}



/* Vintage Paper Pattern */
.pattern-vintage-paper {
    --s: 50px;
    --c1: #5E412F;
    --c2: #FCEBB6;
    background: radial-gradient(25% 50%, var(--c1) 98%, #0000) var(--s) 0 / calc(2 * var(--s)) var(--s), radial-gradient(25% 50%, var(--c2) 98%, #0000) 0 0 / calc(2 * var(--s)) var(--s), repeating-conic-gradient(var(--c1) 0 25%, var(--c2) 0 50%) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)) ;
}


@keyframes g1{
  to {background-position: calc(3*var(--s)) 0,calc(2*var(--s)) 0,calc(2*var(--s)) 0}
}
  
.pattern-vintage-paper:before {
    --animation-name: none;
    content: "";
    position: absolute;
    z-index: 3;
    inset: 0;
    -webkit-mask: linear-gradient(#0000 50%,#000 0) 0 0/100% calc(2*var(--s));
    animation-direction: reverse;
    background: radial-gradient(25% 50%, var(--c1) 98%, #0000) var(--s) 0 / calc(2 * var(--s)) var(--s), radial-gradient(25% 50%, var(--c2) 98%, #0000) 0 0 / calc(2 * var(--s)) var(--s), repeating-conic-gradient(var(--c1) 0 25%, var(--c2) 0 50%) 0 0 / calc(2 * var(--s)) calc(2 * var(--s)) ;
    animation: var(--animation-name);
    animation-direction: reverse;
}
