@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Oswald:wght@400;700&family=Raleway:wght@400;700&family=Merriweather:wght@400;700&family=Poppins:wght@400;700&family=Nunito:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");

@custom-variant dark (&:is(.dark *));

@import "./styles/patterns.css";
/* @import './styles/themes.css';
@import './styles/separaor-section.css';
@import './styles/images.css';
@import './styles/animated-pattern.css'; */

@import "tw-animate-css";

:root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2222 47.3684% 11.1765%);
    --card: hsl(210 40% 98.0392%);
    --card-foreground: hsl(222.2222 47.3684% 11.1765%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2222 47.3684% 11.1765%);
    --primary: hsl(229.4737 83.4146% 59.8039%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(267.7778 88.0435% 36.0784%);
    --secondary-foreground: hsl(0 0% 100%);
    --muted: hsl(210 40% 96.0784%);
    --muted-foreground: hsl(215.3846 16.318% 46.8627%);
    --accent: hsl(308.7342 77.451% 40%);
    --accent-foreground: hsl(0 0% 100%);
    --destructive: hsl(0 84.2365% 60.1961%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(214.2857 31.8182% 91.3725%);
    --input: hsl(214.2857 31.8182% 91.3725%);
    --ring: hsl(229.4737 83.4146% 59.8039%);
    --chart-1: hsl(229.4737 83.4146% 59.8039%);
    --chart-2: hsl(267.7778 88.0435% 36.0784%);
    --chart-3: hsl(276.2069 90.625% 37.6471%);
    --chart-4: hsl(212.3353 83.9196% 60.9804%);
    --chart-5: hsl(308.7342 77.451% 40%);
    --sidebar: hsl(210 40% 98.0392%);
    --sidebar-foreground: hsl(222.2222 47.3684% 11.1765%);
    --sidebar-primary: hsl(229.4737 83.4146% 59.8039%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(210 40% 96.0784%);
    --sidebar-accent-foreground: hsl(222.2222 47.3684% 11.1765%);
    --sidebar-border: hsl(214.2857 31.8182% 91.3725%);
    --sidebar-ring: hsl(229.4737 83.4146% 59.8039%);
    --font-sans: Inter;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 8px;
    --shadow-blur: 24px;
    --shadow-spread: -4px;
    --shadow-opacity: 0.1;
    --shadow-color: #000000;
    --shadow-2xs: 0px 8px 24px -4px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 8px 24px -4px hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0px 8px 24px -4px hsl(0 0% 0% / 0.1),
        0px 1px 2px -5px hsl(0 0% 0% / 0.1);
    --shadow:
        0px 8px 24px -4px hsl(0 0% 0% / 0.1),
        0px 1px 2px -5px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0px 8px 24px -4px hsl(0 0% 0% / 0.1),
        0px 2px 4px -5px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0px 8px 24px -4px hsl(0 0% 0% / 0.1),
        0px 4px 6px -5px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0px 8px 24px -4px hsl(0 0% 0% / 0.1),
        0px 8px 10px -5px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 8px 24px -4px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0px;
    --spacing: 0.25rem;

    --editor-bg: hsl(220 15% 10%);
    --editor-canvas: hsl(220 15% 14%);
    --control-point: hsl(193 95% 58%);
    --control-point-hover: hsl(193 95% 68%);
    --curve-handle: hsl(280 65% 60%);
    --path-stroke: hsl(193 80% 50%);
    --preview-tint: hsl(193 95% 58%);
}

.dark {
    --background: hsl(228.5714 84% 4.902%);
    --foreground: hsl(210 40% 98.0392%);
    --card: hsl(222.2222 47.3684% 11.1765%);
    --card-foreground: hsl(210 40% 98.0392%);
    --popover: hsl(222.2222 47.3684% 11.1765%);
    --popover-foreground: hsl(210 40% 98.0392%);
    --primary: hsl(229.4737 83.4146% 59.8039%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(276.2069 90.625% 37.6471%);
    --secondary-foreground: hsl(0 0% 100%);
    --muted: hsl(217.2414 32.5843% 17.451%);
    --muted-foreground: hsl(215 20.2247% 65.098%);
    --accent: hsl(308.7342 77.451% 40%);
    --accent-foreground: hsl(0 0% 100%);
    --destructive: hsl(0 90.604% 70.7843%);
    --destructive-foreground: hsl(228.5714 84% 4.902%);
    --border: hsl(217.2414 32.5843% 17.451%);
    --input: hsl(217.2414 32.5843% 17.451%);
    --ring: hsl(229.4737 83.4146% 59.8039%);
    --chart-1: hsl(229.4737 83.4146% 59.8039%);
    --chart-2: hsl(267.7778 88.0435% 36.0784%);
    --chart-3: hsl(276.2069 90.625% 37.6471%);
    --chart-4: hsl(212.3353 83.9196% 60.9804%);
    --chart-5: hsl(308.7342 77.451% 40%);
    --sidebar: hsl(222.2222 47.3684% 11.1765%);
    --sidebar-foreground: hsl(210 40% 98.0392%);
    --sidebar-primary: hsl(229.4737 83.4146% 59.8039%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(217.2414 32.5843% 17.451%);
    --sidebar-accent-foreground: hsl(210 40% 98.0392%);
    --sidebar-border: hsl(217.2414 32.5843% 17.451%);
    --sidebar-ring: hsl(229.4737 83.4146% 59.8039%);
    --font-sans: Inter;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 8px;
    --shadow-blur: 24px;
    --shadow-spread: -4px;
    --shadow-opacity: 0.25;
    --shadow-color: #000000;
    --shadow-2xs: 0px 8px 24px -4px hsl(0 0% 0% / 0.13);
    --shadow-xs: 0px 8px 24px -4px hsl(0 0% 0% / 0.13);
    --shadow-sm:
        0px 8px 24px -4px hsl(0 0% 0% / 0.25),
        0px 1px 2px -5px hsl(0 0% 0% / 0.25);
    --shadow:
        0px 8px 24px -4px hsl(0 0% 0% / 0.25),
        0px 1px 2px -5px hsl(0 0% 0% / 0.25);
    --shadow-md:
        0px 8px 24px -4px hsl(0 0% 0% / 0.25),
        0px 2px 4px -5px hsl(0 0% 0% / 0.25);
    --shadow-lg:
        0px 8px 24px -4px hsl(0 0% 0% / 0.25),
        0px 4px 6px -5px hsl(0 0% 0% / 0.25);
    --shadow-xl:
        0px 8px 24px -4px hsl(0 0% 0% / 0.25),
        0px 8px 10px -5px hsl(0 0% 0% / 0.25);
    --shadow-2xl: 0px 8px 24px -4px hsl(0 0% 0% / 0.63);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
    letter-spacing: var(--tracking-normal);
}
@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

/* Shine effect for loading states */
.shimmer-effect {
    position: relative;
    overflow: hidden;
}

@keyframes shine {
    from {
        left: -75%;
    }
    to {
        left: 125%;
    }
}

.shimmer-effect::after {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    animation: shine 1.5s linear infinite;
}

/* Placeholder para text elements */
.empty-text[contenteditable]:empty::before {
    content: attr(data-placeholder);
    color: #999;
    font-style: italic;
    pointer-events: none;
}

.moveable-line {
    position: absolute;
    width: 1px;
    height: 1px;
    background: var(--color-primary) !important;
    transform-origin: 0px 0.5px;
}

.moveable-control {
    position: absolute;
    width: 12px !important;
    height: 12px !important;
    border-radius: 3px !important;
    border: 2px solid var(--color-background) !important;
    box-sizing: border-box;
    background: var(--color-ring) !important;
    margin-left: -6px !important;
    z-index: 10;
}

.moveable-control.moveable-origin {
    border-color: var(--color-destructive) !important;
    background: var(--color-background) !important;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: -6px;
    pointer-events: none;
}

.moveable-line.moveable-clip-line {
    background-color: var(--color-accent) !important;
    border: 2px solid var(--color-accent) !important;
}
.moveable-control.moveable-clip-control {
    background-color: var(--color-background) !important;
    border: 2px solid var(--color-accent) !important;
}

.react-colorful__saturation {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

.moveable-e,
.moveable-w {
    height: 38px !important;
    max-width: 8px !important;
    border-radius: 999px !important;
    background: white !important;
    border: 1px solid var(--color-primary) !important;
    margin-top: -20px !important;
}
.moveable-e {
    margin-left: -4px !important;
}

.moveable-w {
    margin-left: -4px !important;
}
